.header-ul {
  list-style: none;
  cursor: curser;
}
.header-ul li {
  padding: 20px;
  border: 0;
  float: left;
}
.header-ul a {
  text-decoration: none;
}
.header-ul a:link {
  text-decoration: none;
  color: #fff;
}

.header-ul a:visited {
  text-decoration: none;
  color: #fff;
}
.header-ul a:active {
  text-decoration: none;
  color: #fff;
}
.header-ul a:hover {
  text-decoration: none;
  color: #fff;
}

.App-header {
  background-color: #282c34;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-end;
  font-size: calc(5px + 2vmin);
  color: white;
  position: fixed;
  width: 100%;
  height: 160px;
  z-index: 1000;
  top: 0;
}
.Login-btn {
  cursor: pointer;
}
.header-mobile {
  display: none;
}
@media screen and (max-width: 760px) {
  .header-mobile {
    display: flex;
  }
  .header-web {
    display: none;
  }
}
